*, html {
    scroll-behavior: smooth !important;
}



.EntirePage {
    /*background-color: rgb(255, 245, 255);
    background-image: url('/images/page_background.webp');
    background-repeat: repeat;
    background-attachment: fixed;*/
    margin: 0;
}
.PageBackground {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: -999;
}
.Separator {
    font-size: 30px;
}
.TinySeparator {
    font-size: 5px;
}



.BottomBox {
    background: rgba(30,33,57,0.7);

    padding-top: 5px;
    padding-bottom: 5px;
}



.SnapToTop {
    background-color: white;
    font: bold 20px Segoe UI, AvenirNext-Regular, Sans-Serif;
    color: #3F3F3F;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50px;

    border: none;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
    margin: 30px;
    padding: 10px;

    transition-duration: 0.4s;
}
.SnapToTop:hover{
    background-color: #3F3F3F;
    color: white;
    cursor: pointer;
    scale: 1.35;
}
