.Columnising {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media only screen and (min-width: 800px) {
    .Columnising {
        grid-template-columns: 1fr 1fr;
    }
    .Columnised {
        margin-top: auto;
        margin-bottom: auto;
    }
    .Columnised > p {
        text-align: left; !important
    }
    .CardImage {
        margin-bottom: 20px; !important
    }
}


.Card {
    background-color: rgba(245, 245, 245, 0.8);
    padding: 20px;
    box-shadow: 0px 0px 10px 10px rgba(200,200,200,0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 20px;
    transition-duration: 0.4s;
}
.CardLink:hover {
    cursor: pointer;
    background-color: rgba(255, 245, 255, 1.0);
    scale: 1.05;
}
.CardMega{
    background-color: rgba(245, 245, 245, 0.8);
    padding: 20px;
    box-shadow: 0px 0px 10px 10px rgba(200,200,200,0.3);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    border-radius: 20px;

    font: bold 30px Sans-Serif;
    color: #3F3F3F;
    text-align: center;

    z-index: 1
}